.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all 0.2s;
    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid rgba(26, 54, 126, 0.125);
        text-transform: uppercase;
        color: rgba(13, 27, 62, 0.7);
        font-weight: bold;
        display: flex;
        align-items: center;
        padding-right: 0.625rem;
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }
}

.nav-custom {
    display: flex;
    li {
        position: relative;
        display: block;
        border-left: 1px solid gray;
        padding: 0 10px;
        &:first-child {
            border: 0;
        }
        a {
            color: #777777;
            font-weight: 400;
            &.active {
                color: #f9b129;
            }
        }
    }
}
.btn-burnt-sienna {
    color: #fff;
    background-color: #ec5353;
    border-color: #ec5353;
    transition: 0.3s ease-out;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    border-width: 3px;
    padding: 10px 28px;
    border-radius: 35px;
}
